.btn-outline-primary {
    border: 1px solid #436fB0;
    margin-top: 55px;
    float: left;
}

.col {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}

.form-control {
    border: 1px solid #0B3E8A;
    font-weight: 300;
    outline: none;
    box-shadow: none;
    height: 40px;
}